.App {
  text-align: center;
}

.compoundChart {
  text-align: left;
  display: inline-block;
}

/* Axis muted */
.xyframe .data-visualization .axis.y line {
  stroke: lightgrey;
}

.xyframe .data-visualization .axis.x line {
  stroke: lightgrey;
}

.xyframe .axis-label,.axis-title {
  font-size: 13px;
}

.xyframe .axis-title {
  font-size: 15px;
}

.annotation-note-label tspan {
  font-size: 14px;
}
